// TODO LARGE DESCTOP>1200PX
.nav {
  width: 300px;
  height: 100vh;
  background-color: #242b2e;

  .logo {
    height: 70px;
    color: #fff;
    position: relative;
    top: 12px;
    right: 30px;
    user-select: none;

    .last-name {
      position: absolute;
      right: 50%;
      transform: translate(50%);
      font-family: 'Monoton';
      font-size: 25px;
      background: linear-gradient(to right, #1ab5b3, #fff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-transform: translate(50%);
      -moz-transform: translate(50%);
      -ms-transform: translate(50%);
      -o-transform: translate(50%);
    }

    .first-name {
      position: absolute;
      right: 56%;
      transform: translate(50%);
      font-family: 'Monoton';
      font-size: 25px;
      top: 20px;
      background: linear-gradient(to right, #fff, #1ab5b3);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-transform: translate(50%);
      -moz-transform: translate(50%);
      -ms-transform: translate(50%);
      -o-transform: translate(50%);
    }

    .portolio {
      position: absolute;
      right: 26%;
      transform: translate(50%);
      top: 18px;
      font-family: 'Spicy Rice';
      font-size: 25px;
      background: linear-gradient(to right, #1ab5b3, #d9baba);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .navigation {
    .path {
      a {
        text-decoration: none;

        li {
          width: 300px;
          height: 62px;
          line-height: 62px;
          text-align: right;
          background-color: #2f373b;
          background-image: linear-gradient(to top, rgba(0, 0, 0, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%);

          color: #ffffff;
          font-family: Roboto;
          font-size: 18px;
          font-weight: 300;
          text-transform: uppercase;

          padding-right: 20px;

          position: relative;
          left: -20px;

          &:hover {
            background-color: #1ab5b3;
            // transition: background-color .1s ease-in-out;
            background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
            // -webkit-transition: background-color .1s ease-in-out;
            // -moz-transition: background-color .1s ease-in-out;
            // -ms-transition: background-color .1s ease-in-out;
            // -o-transition: background-color .1s ease-in-out;
          }
        }
      }
    }
  }

  .filter {
    border-top: 1px solid #202426;
    border-bottom: 1px solid #202426;
    padding: 25px 0;
    padding-right: 20px;
    // height: 165px;
    text-align: right;
    user-select: none;

    .filter-items {
      margin-top: 20px;
      height: 81px;
      overflow: hidden;
      overflow-y: auto;
      //! padding-right: 5px;

      label {



        .filter-item {
          font-family: Roboto;
          font-size: 13px;
          font-weight: 300;
          color: #6b7072;

          &:hover {
            cursor: pointer;
          }
        }

        input {
          display: none;
        }
      }
    }
  }

  .social-network {
    margin-top: 25px;
  }
}

.active,
.first-active {
  color: #fff;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
