<div class="container" *ngIf="windowS.width >= 600">
  <div class="contact p25">
    <div class="contact-form p25">
      <div class="get-info-contact mb30">
        <h1 class="mb10">Get in touch with us</h1>
        <p>{{contactMe}}</p>
      </div>
      <div class="send-form">
        <h1 class="mtop-25 mbottom-25">Send us a message</h1>
        <form action="" *ngIf="windowS.width > 1300; else largeDesctop" [formGroup]="form" (ngSubmit)="submit()">
          <div class="grid">
            <div class="col-1">
              <div class="form-control">
                <div class="logo-before">
                  <div [ngClass]="{
                    'logo': true
                  }">
                    <img src="./assets/img/components/pages/contact/user.png" alt="">
                  </div>
                  <div class="input" [ngClass]="{
                    'input': true,
                    'error': form.get('user').touched && form.get('user').invalid
                  }">
                    <input type="text" placeholder="user" formControlName="user">
                    <div class="errors" *ngIf="form.get('user').touched && form.get('user').invalid">
                      <span class="err" *ngIf="form.get('user').errors.required">
                        This field is requared.
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-control mtop-25">
                <div class="logo-before">
                  <div class="logo">
                    <img src="./assets/img/components/pages/contact/email.png" alt="">
                  </div>
                  <div [ngClass]="{
                    'input': true,
                    'error': form.get('email').touched && form.get('email').invalid
                  }">
                    <input type="text" placeholder="email" formControlName="email">
                    <div class="errors" *ngIf="form.get('email').touched && form.get('email').invalid">
                      <span class="err" *ngIf="form.get('email').errors.required">
                        This field is requared.
                      </span>
                      <span class="err" *ngIf="form.get('email').errors.email">
                        Please enter email in format test@gmail.com.
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mt">
                <button class="btn" [ngStyle]="{'width': '100%', 'height': '50px'}"
                  [disabled]="form.invalid || submited" (click)="submit()"><span>SEND
                    MESSAGE</span></button>

              </div>
            </div>
            <div [ngClass]="{'col-2': true,'error': form.get('text').touched && form.get('text').invalid}">
              <textarea name="" id="" placeholder="type text ..." formControlName="text"></textarea>
              <div class="errors" *ngIf="form.get('text').touched && form.get('text').invalid"
                [ngStyle]="{'bottom': '7px'}">
                <span class="err" *ngIf="form.get('text').errors.required">
                  This field is requared.
                </span>
              </div>
            </div>
          </div>
        </form>
        <ng-template #largeDesctop>
          <form action="" [formGroup]="form">
            <div class="grid-small-desctop">
              <div class="col-1">
                <div class="form-control">
                  <div class="logo-before">
                    <div class="logo">
                      <img src="./assets/img/components/pages/contact/user.png" alt="">
                    </div>
                    <div [ngClass]="{'input': true, 'error': form.get('user').touched && form.get('user').invalid}">
                      <input type="text" placeholder="user" formControlName="user">
                    </div>
                  </div>
                </div>
                 <div class="errors" *ngIf="form.get('user').touched && form.get('user').invalid"
                   [ngStyle]="{'bottom': '-2px', 'padding-left':'50px'}">
                   <span class="err" *ngIf="form.get('user').errors.required">
                     This field is requared.
                   </span>
                 </div>
                <div class="form-control mtop-25">
                  <div class="logo-before">
                    <div class="logo">
                      <img src="./assets/img/components/pages/contact/email.png" alt="">
                    </div>
                    <div [ngClass]="{'input': true, 'error': form.get('email').touched && form.get('email').invalid}">
                      <input type="text" placeholder="email" formControlName="email">
                    </div>
                  </div>
                </div>
              </div>
              <div class="errors" *ngIf="form.get('email').touched && form.get('email').invalid"
                [ngStyle]="{'bottom': '-2px', 'padding-left':'50px'}">
                <span class="err" *ngIf="form.get('email').errors.required">
                  This field is requared.
                </span>
                <span class="err" *ngIf="form.get('email').errors.email">
                  Please enter email in format test@gmail.com.
                </span>
              </div>
              <div [ngClass]="{'col-2': true, 'mtop-25': true,'error': form.get('text').touched && form.get('text').invalid}">
                <textarea name="" id="" placeholder="type text ..." formControlName="text"
                  [ngStyle]="{'width': 'calc(100% - 21px)', 'bottom': '7px'}"></textarea>
                <div class="errors" *ngIf="form.get('text').touched && form.get('text').invalid">
                  <span class="err" *ngIf="form.get('text').errors.required">
                    This field is requared.
                  </span>
                </div>
              </div>
            </div>
            <button class="btn mtop-25" [ngStyle]="{'width': '100%', 'height': '50px'}" [disabled]="form.invalid || submited"
              (click)="submit()"><span>SEND
                MESSAGE</span></button>
          </form>
        </ng-template>
      </div>

    </div>
  </div>
  <div class="hr-social" *ngIf="windowS.width >=1113 && windowS.width < 1300">
    <app-footer></app-footer>
  </div>
</div>


<div class="reset-container" *ngIf="windowS.width < 600">
  <div class="contact-form">
    <div class="get-info-contact mb30">
      <h1 class="mb10">Get in touch with us</h1>
      <p>{{contactMe}}</p>
    </div>
    <div class="send-form">
      <h1 class="mtop-25 mbottom-25">Send us a message</h1>
      <form action="" [formGroup]="form" (ngSubmit)="submit()">
        <div class="grid-small-desctop">
          <div class="col-1">
            <div class="form-control">
              <div class="logo-before">
                <div class="logo">
                  <img src="./assets/img/components/pages/contact/user.png" alt="">
                </div>
                <div [ngClass]="{'input': true, 'error': form.get('user').touched && form.get('user').invalid}">
                  <input type="text" placeholder="user" formControlName="user">
                </div>
              </div>
            </div>
            <div class="errors" *ngIf="form.get('user').touched && form.get('user').invalid" [ngStyle]="{'bottom': '-2px', 'padding-left':'50px'}">
              <span class="err" *ngIf="form.get('user').errors.required">
                This field is requared.
              </span>
            </div>
            <div class="form-control mtop-25">
              <div class="logo-before">
                <div class="logo">
                  <img src="./assets/img/components/pages/contact/email.png" alt="">
                </div>
                <div [ngClass]="{'input': true, 'error': form.get('email').touched && form.get('email').invalid}">
                  <input type="text" placeholder="email" formControlName="email">
                </div>
              </div>
            </div>
          </div>
          <div class="errors" *ngIf="form.get('email').touched && form.get('email').invalid"
            [ngStyle]="{'bottom': '-2px', 'padding-left':'50px'}">
            <span class="err" *ngIf="form.get('email').errors.required">
              This field is requared.
            </span>
            <span class="err" *ngIf="form.get('email').errors.email">
              Please enter email in format test@gmail.com.
            </span>
          </div>
          <div
           [ngClass]="{'col-2': true, 'mtop-25': true, 'error': form.get('text').touched &&
           form.get('text').invalid}">
            <textarea name="" id="" placeholder="type text ..." formControlName="text"></textarea>
          </div>
          <div class="errors" *ngIf="form.get('text').touched && form.get('text').invalid"
            [ngStyle]="{'bottom': '4px'}">
            <span class="err" *ngIf="form.get('text').errors.required">
              This field is requared.
            </span>
          </div>
        </div>
        <button class="btn mtop-25" [ngStyle]="{'width': '100%', 'height': '50px'}" [disabled]="form.invalid || submited"
          (click)="submit()"><span>SEND
            MESSAGE</span></button>
      </form>
    </div>
  </div>
  <div class="hr-social" *ngIf="windowS.width >=1113 && windowS.width < 1300">
    <app-footer></app-footer>
  </div>
</div>
