.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #242b2e;
  height: 70px;



  .drop-down-menu {
    height: 60px;
    width: 60px;
    background-color: #fff;
    margin-right: 2.5%;

    &:hover {
      cursor: pointer;
    }
  }

  .filter {
    line-height: 70px;
    text-align: center;
    // width: 100px;
    position: relative;
    user-select: none;
    border-left: 1px solid #fff;


    &::before {
      width: 1px;
      height: 70px;
      background-color: #fff;
      position: absolute;
    }


    .filter-items {
      width: inherit;
      height: 0;
      position: absolute;
      background-color: #242b2e;
      overflow: hidden;
      // overflow-y: auto;
    }
  }

  .path {
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #242b2e;
    width: 100%;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    user-select: none;
    overflow: hidden;
    // overflow-y: auto;

    .filter-img {
      height: 70px;
      width: 95%;
      line-height: 70px;
      text-align: center;
      background-color: #2f373b;
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%);

      &:hover {
        cursor: pointer;
        background-color: #fff;
      }
    }

    a {
      text-decoration: none;
      width: inherit;

      li {
        margin: 0 auto;
        height: 70px;
        width: 95%;
        line-height: 70px;
        text-align: center;
        background-color: #2f373b;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%);

        color: #ffffff;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 300;
        text-transform: uppercase;

        border-bottom: 1px solid #fff;

        &:hover {
          background-color: #1ab5b3;
          background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
        }
      }
    }
  }
}

.fs {
  font-size: 30px;
}
