<nav class="nav">

  <a href="">
    <app-logo></app-logo>
  </a>
  <div class="drop-down-menu" (click)="navbarS.toggleDropDown()">
  </div>
  <ul class="path" [@drop-down]="navbarS.dropDown">
    <a [href]="path" *ngFor="let path of paths" (click)="navbarS.toggleDropDown()">
      <li>
        {{path}}
      </li>
    </a>
    <div class="filter-img" (click)="navbarS.toggleFilter()">
      <img src="assets/img/components/navbar/filter.png" alt="filter" class="filter-logo">
    </div>
  </ul>
  <ul class="path fs" [@filter]="navbarS.statusOpenFilter">
    <app-filter-list *ngFor="let item of filters; let i = index" [text]="item"
      (click)="selectItemElementOfFilterWorks()" [ngClass]="{'hover': true}"></app-filter-list>
  </ul>
</nav>
