.slider {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: relative;
  display: flex;
  justify-self: center;
  outline: 2px solid #1ab5b3;

  .img {
    max-width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}

  .form-list-checked {
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;


    label {
      margin-right: 10px;

      &:hover{
          cursor: pointer;
      }

      &:last-child {
        margin-right: 0;
      }

      input {
        display: none;
      }

      .fake {
        width: 22px;
        height: 13px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        background-color: rgb(160, 160, 160);
        opacity: 0.5;
      }

      input:checked+.fake {
        width: 22px;
        height: 13px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        background-color: #1ab5b3;
      }

    }
  }
}
