// TODO LARGE DESCTOP>1200PX
.nav {
  width: 300px;
  height: 100vh;
  background-color: #242b2e;
  overflow: hidden;

  .filter {
    border-top: 1px solid #202426;
    border-bottom: 1px solid #202426;
    padding: 25px 0;
    padding-right: 20px;
    text-align: right;
    user-select: none;
    .filters{
      height: 100px;
      overflow: auto;
    }

    .filter-items {
      margin-top: 20px;
      height: 82px;
      overflow: hidden;
      overflow-y: auto;
      padding-right: 20px;

      label {
        .filter-item {
          font-family: Roboto;
          font-size: 13px;
          font-weight: 300;
          color: #6b7072;

          &:hover {
            cursor: pointer;
          }
        }

        input {
          display: none;
        }
      }
    }
  }

  .social-network {
    margin-top: 25px;

  }
}

.active,
.first-active {
  color: #fff;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
