<div class="my-skills">
  <div class="my-skill" *ngFor="let item of progress">
    <div class="info-skills">
      <span class="skill">{{item.tag}}</span>
      <span class="interest">{{item.percent | number:'0.1-2'}}%</span>
    </div>
    <div class="progress-window">
      <div class="progress-item">
        <div [style.width]="+item.percent+'%'" [ngClass]="{
          'progress': true,
          'good': good(+item.percent),
          'well': well(+item.percent),
          'so-so': soSo(+item.percent),
          'bad': bad(+item.percent),
          'not-bad': notBad(+item.percent)
        }"></div>
      </div>
    </div>
  </div>
</div>
