.my-skills {
  .my-skill {
    color: #727272;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 10px;

    .info-skills {
      display: flex;
      justify-content: space-between;

    }

    .progress-window {
      width: 100%;
      background-color: #e2e2e2;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;

      .progress-item {
        height: 10px;
        padding: 3px;
        width: calc(100% - 6px);

        .progress {
          height: 100%;
          border-radius: 2.5px;
          -webkit-border-radius: 2.5px;
          -moz-border-radius: 2.5px;
          -ms-border-radius: 2.5px;
          -o-border-radius: 2.5px;
        }

        .good {
          background-color: #00e676;
        }

        .well {
          background-color: #64dd17;
        }

        .so-so {
          background-color: #fbc02d;
        }

        .not-bad {
          background-color: #fb8c00;
        }

        .bad {
          background-color: #ff5722;
        }
      }


    }
  }
}
