 .logo {
   height: 70px;
   width: 300px;
   color: #fff;
   position: relative;
   top: 12px;
   right: 30px;
   user-select: none;
   
   .portolio {
     position: absolute;
     right: 38%;
     transform: translate(50%);
     top: 7px;
     font-family: "Monoton";
     font-size: 29px;
     background: linear-gradient(to right, #c63c7a, #37ef10);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
   }
 }
