<div class="container">
  <div class="box-shadow">
    <app-contact-information 
    [topContext]="contactInfoS.topContext"
    [rightContext]="contactInfoS.rightContext"
    [transformBlock]="contactInfoS.transformBlock"
    [topBlock]="contactInfoS.topBlock"
    [rightBlock]="contactInfoS.rightBlock"
    [bottomBlock]="contactInfoS.bottomBlock"
    [justifyBlock]="contactInfoS.justifyBlock"
    [flexDirectionBlock]="contactInfoS.flexDirectionBlock"
    >
    </app-contact-information>
    <div class="portfolio">
      <div class="portfolio-works">
        <app-card-preview [width]="homeS.widthBlock" [height]="homeS.heightBlock" [list]="works" [ngStyle]="{'height': '200vh'}" imgPrewview></app-card-preview>
      </div>
    </div>
  </div>
  <div class="hr-social" *ngIf="windowS.width >=1113 && windowS.width < 1300">
    <app-footer></app-footer>
  </div>
</div>
