<div class="container">
  <div class="box-shadow">
    <app-contact-information 
    [topContext]="contactInfoS.topContext"
    [rightContext]="contactInfoS.rightContext"
    [transformBlock]="contactInfoS.transformBlock"
    [topBlock]="contactInfoS.topBlock"
    [rightBlock]="contactInfoS.rightBlock"
    [bottomBlock]="contactInfoS.bottomBlock"
    [justifyBlock]="contactInfoS.justifyBlock"
    [flexDirectionBlock]="contactInfoS.flexDirectionBlock"
    >
    </app-contact-information>
    <app-card-preview [width]="homeS.widthBlock" [height]="homeS.heightBlock" [list]="list" [ngStyle]="{'height': '200vh'}"></app-card-preview>
  </div>
</div>
