<!-- <div class="container">
  <form class="contetnt form">
    <div class="form-control">
      <input type="text" placeholder="login">
    </div>
    <div class="form-control">
      <input type="password" placeholder="password">
    </div>
  </form>
</div> -->

<div class="container">
  <div class="content form">
    <form class="contetnt">
      <div class="form-control">
        <input type="text" placeholder="login">
      </div>
      <div class="form-control">
        <input type="password" placeholder="password">
      </div>

        <button type="submit" class="btn"><span>Submit</span></button>
    </form>
  </div>
</div>
