/* You can add global styles to this file, and also import other style files */

//todo RESET STYLES
@import "style-elements/reset-styles.style.css";

// todo FONTS
@import "style-elements/fonts.style.css";


//* GLOBAL STYLES ARE BELOW
//todo scroll
@import "style-elements/scroll.style.css";

.mtop-25{
    margin-top: 25px;
}

.rights {
  color: rgb(107, 112, 114);
  text-align: center;
  font-family: 'Roboto';
  font-size: 12px;
  user-select: none;
}
