.nav {
  display: flex;
  align-items: center;
  background-color: #242b2e;
  height: 70px;

  .nav-content {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .path {
      display: flex;
      justify-content: center;
      list-style-type: none;
    }

    .filter {
      line-height: 70px;
      text-align: center;
      width: 100%;
      position: relative;
      user-select: none;
      border-left: 1px solid #fff;


      &::before {
        width: 1px;
        height: 70px;
        background-color: #fff;
        position: absolute;
      }

      .filter-img {
        width: inherit;
        height: 70px;
        img {
          position: relative;
          top: 5px;

        }

        &:hover {
          cursor: pointer;
          background-color: #2f373b;
        }
      }

      .filter-items {
        width: inherit;
        height: 100%;
        position: absolute;
        background-color: #242b2e;
        overflow-y: auto;
      }
    }
  }

}
