.nav {
  display: flex;
  align-items: center;
  background-color: #242b2e;
  height: 70px;

  .nav-content {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .path {
      display: flex;
      justify-content: center;
      list-style-type: none;

      a {
        text-decoration: none;

        li {
          height: 70px;
          width: 100px;
          line-height: 70px;
          text-align: center;
          background-color: #2f373b;
          background-image: linear-gradient(to top, rgba(0, 0, 0, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%);

          color: #ffffff;
          font-family: Roboto;
          font-size: 18px;
          font-weight: 300;
          text-transform: uppercase;

          // padding-right: 20px;

          // position: relative;
          // left: -20px;
          border-right: 1px solid #fff;
          border-left: 1px solid #fff;

          &:hover {
            background-color: #1ab5b3;
            background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
          }
        }
      }
    }

    .filter {
      line-height: 70px;
      text-align: center;
      width: 200px;
      position: relative;
      user-select: none;
      border-left: 1px solid #fff;


      &::before {
        width: 1px;
        height: 70px;
        background-color: #fff;
        position: absolute;
      }

      .filter-img {
        width: inherit;
        height: 70px;
        img {
          position: relative;
          top: 5px;

        }

        &:hover {
          cursor: pointer;
          background-color: #2f373b;
        }
      }

      .filter-items {
        width: inherit;
        height: 0;
        position: absolute;
        background-color: #242b2e;
        overflow: hidden;
        // overflow-y: auto;
      }
    }
  }

}
